:root {
    --bg-color: #e8e8e8;
    --color: #404955;
    --b-it-border-color: #e1e1e1;
    --b-it-bg-color: #45c67d;
    --b-it-color: #fff;
    --view-a-color: #424242;
    --view-a-bg-color: #9191911a;
    --view-a-border-color: #cccccc5e;
    /* setting */
    --st-color: #303030;
    --st-bar-act-color: #385af2;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #22272e;
        --b-it-border-color: #33626a54;
        --b-it-bg-color: #45c67d;
        --b-it-color: #000;
        --view-a-color: #566e93;
        --view-a-bg-color: #7687b91a;
        --view-a-border-color: #7687b91a;
        /* setting */
        --st-color: #fff;
        --st-bar-act-color: #8c213f;
    }
}
* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap-1 {
    gap: 0.5rem;
}
.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
}
.hidden {
    display: none;
}
.tooltip {
    position: absolute;
    background: #94e2b2e3;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    pointer-events: none; /* 防止气泡干扰鼠标事件 */
}