:root {
    --bg-color: #f7f5e0;
    --color: #57b781;
    --b-it-border-color: #046e1b;
    --b-it-bg-color: #45c67d;
    --b-it-color: #fff;
    --view-a-color: #303030;
    --view-a-bg-color: #9191911a;
    --view-a-border-color: #cccccc5e;
    /* setting */
    --st-color: #303030;
    --st-bar-act-color: #2b50f7;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #22272e;
        --b-it-border-color: #33626a54;
        --b-it-bg-color: #45c67d;
        --b-it-color: #000;
        --view-a-color: #566e93;
        --view-a-bg-color: #7687b91a;
        --view-a-border-color: #7687b91a;
        /* setting */
        --st-color: #fff;
        --st-bar-act-color: #8c213f;
    }
}
* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap-1 {
    gap: 0.5rem;
}
.main {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.logo {
    position: fixed;
    right: 0;
    bottom: 0;
    color: #8bc9ff;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    font-family: monospace;
}
.btn-setting {
    width: 26px;
    cursor: pointer;
}
.version {
    margin-top: 10vh;
    color: #8bc9ff;
    font-size: 12px;
    font-family: monospace;
}