body {
    font-family: PingFang SC,Noto Sans SC,sans-serif,Arial;
}
.iscroll {
    overflow: hidden;
    overflow-y: scroll;
}
#sidebar {
    width: 265px;
    height: 100vh;
    background: var(--sidebar-bg);
    color: var(--color);
    position: fixed;
    z-index: 1;
    display: none;
}
.show-left {
    left: 0;
}
.show-right {
    right: 0;
}
.bar-active {
    display: unset !important;
}
.box {
    height: 100%;
}
.b-it {
    position: relative;
    margin: 0.5rem;
    padding: 0.5rem;
    min-height: 2rem;
    border: 1px solid var(--b-it-border-color);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.url-count {
    font-size: 40px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px var(--url-count-color);
    position: absolute;
    right: 0;
    transition: font-size 0.3s ease;
}
.b-it:hover, .b-active {
    background: linear-gradient(to right, var(--b-it-bg-color), #fff);
    border-color: var(--b-it-bg-color);
    color: var(--b-it-color);
    .url-count {
        -webkit-text-stroke: 2px var(--b-it-bg-color);
        font-size: 60px;
    }
}
.svg-pin {
    position: fixed;
    top: 0.5rem;
    cursor: pointer;
    z-index: 1000;
}
.svg-pin.pin-left {
    right: 0.5rem;
}
.svg-pin.pin-right {
    left: 0.5rem;
}
.sp-t.active {
    fill: #a42721;
}
.empty-link {
    color: var(--view-a-color);
    width: 100%;
    text-align: center;
}
.view {
    width: 600px;
}
.view a {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    color: var(--view-a-color);
    background: var(--view-a-bg-color);
    cursor: pointer;
    transition: all 0.2s;
}
.view a:hover {
    background-color: #334cd0; /*#1c3ef7;*/
    color: #fff;
}

/* context-menu start */
.custom-context-menu {
    position: fixed;
    list-style: none;
    border-radius: 4px;
    background: #fff;
    color: #717171;
    box-shadow: 2px 2px 5px #5b5b5b57;
    &.hidden {
        display: none;
    }
    li {
        padding: 0.1rem 0.6rem;
        user-select: none;
        transition: all 0.1s;
        &:hover {
            cursor: pointer;
            background: #3c5d8e;
            color: #fff;
        }
        &:active {
            background: #3c5d8e;
        }
    }
}
/* context-menu end */

.view-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 100vh;
    overflow-y: scroll;
}

.vg-a {
    max-width: 260px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-setting {
    position: fixed;
    right: 0;
    bottom: 0;
    color: #7b7b7b;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}
.col-turn.active {
    color: #00aa42;
}