.iscroll {
    overflow: hidden;
    overflow-y: scroll;
}
#sidebar {
    width: 265px;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--color);
    position: fixed;
    z-index: 1;
    display: none;
}
.show-left {
    left: 0;
}
.show-right {
    right: 0;
}
.bar-active {
    display: unset !important;
}
.box {
    height: 100%;
}
.b-it {
    position: relative;
    margin: 0.5rem;
    padding: 0.5rem;
    min-height: 2rem;
    border: 1px solid var(--b-it-border-color);
    border-radius: 6px;
    cursor: pointer;
}
.b-it:hover, .b-active {
    background-color: var(--b-it-bg-color);
    border-color: var(--b-it-bg-color);
    color: var(--b-it-color);
}
.svg-pin {
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}
.sp-t.active {
    fill: #a42721;
}
.empty-link {
    color: var(--view-a-color);
    width: 100%;
    text-align: center;
}
.view {
    width: 600px;
}
.view a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    border-radius: 4px;
    color: var(--view-a-color);
    background: var(--view-a-bg-color);
    border: 1px solid var(--view-a-border-color);
    cursor: pointer;
    transition: all 0.2s;
}
.view a:hover {
    background-color: #8858f8;
    color: #fff;
}

/* context-menu start */
.custom-context-menu {
    position: fixed;
    border: 1px solid #ccc;
    list-style: none;
    padding: 4px 0;
    border-radius: 4px;
    background-color: #f0f2f5;
    &.hidden {
        display: none;
    }
    li {
        padding: 8px 12px;
        border-bottom: 1px solid #f0f2f5;
        user-select: none;
        transition: all 0.1s;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            cursor: pointer;
            background-color: #0170fe;
            color: #fff;
        }
        &:active {
            background-color: #f0f2f7;
        }
    }
}
/* context-menu end */