.st-list {
    width: 1000px;
    color: var(--st-color);
}
.st-label {
    width: 120px;
    text-align: right;
}
.st-cont {
    flex-grow: 1;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}
.sc-blk {
    width: 200px;
    cursor: pointer;
}
.bar-it {
    width: 100px;
    padding: 0.5rem;
    text-align: center;
}
.bar-it:hover {
    background-color: var(--st-bar-act-color);
}
.bar-left {
    padding-right: 0.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.bar-right {
    padding-left: 0.5rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.st-bar-act {
    background-color: var(--st-bar-act-color);
    color: #fff;
}
#cus-css {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    border: 1px solid #333;
    background-color: rgb(201, 191, 255);
    border-radius: 6px;
    padding: 0.5rem;
}
.btn {
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    font-weight: bold;
}
.btn.cc-cfm {
    background: #555686;
    align-self: flex-end;
    margin-left: 0.5rem;
}
.submit {
    justify-content: start;
}